body {
    margin: 0;
    padding: 0;
    background-color: #F3E400;
}

/*
****************
SearchBox
****************
*/
@import url(https://fonts.googleapis.com/css?family=Nunito:400,700);

* {
    //box-sizing:border-box;
}

body {
    padding: 0;
    margin: 0;

    .search_block {
        background: #F6F792;
        height: 70vh;
        float: left;
        width: 100%;
        position: relative;
    }

    .search_suggestion {
        width: 15px;
        background: transparent;
        transition: border .3s 0s, width .2s .3s cubic-bezier(0.225, 0.010, 0.475, 1.010), text-indent .2s .3s;
        padding: 20px;
        border-color: #337c04;
        text-indent: 30px;
        outline: none;
        font-size: 1.2em;
        color: #0a3304;
        border-radius: 5px;
        //text-transform:uppercase;
        font-family: 'Nunito', sans-serif;
    }


    .search_bar {
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        overflow: hidden;
        width: 280px;
        position: relative;
        margin: 0 auto;

        input[type="text"] {
            width: 15px;
            background: transparent;
            transition: border .3s 0s, width .2s .3s cubic-bezier(0.225, 0.010, 0.475, 1.010), text-indent .2s .3s;
            padding: 20px;
            border-color: #337c04;
            text-indent: 30px;
            outline: none;
            border: 0px solid #337c04;
            font-size: 1.2em;
            color: #0a3304;
            border-radius: 5px;
            //text-transform:uppercase;
            font-family: 'Nunito', sans-serif;

        }

        ::-webkit-input-placeholder { /* Safari, Chrome and Opera */
            color: #337c04;
            font-weight: 400;
            font-family: 'Nunito', sans-serif;
        }

        ::-moz-input-placeholder { /* Safari, Chrome and Opera */
            color: #337c04;
            font-weight: 400;
            font-family: 'Nunito', sans-serif;
        }

        ::-o-input-placeholder { /* Safari, Chrome and Opera */
            color: #337c04;
            font-weight: 400;
            font-family: 'Nunito', sans-serif;
        }

        input[type="checkbox"] {
            display: none;
        }

        input[type="checkbox"]:checked + label + input {
            width: 230px;
            border: 5px solid #337c04;
            text-indent: 0px;
        }

        input[type="checkbox"]:checked + label i {
            right: 0px;
            transform: translateY(-50%) translateX(50%) rotate(360deg) scale(0);
            color: #337c04;

            &:hover {
                //background:white;
            }
        }

        input[type="checkbox"]:checked + label .last {
            left: 220px;
            transform: translateY(-50%) rotate(360deg) scale(1);

            &:hover {
                //background:white;
            }
        }

        input[type="checkbox"]:checked + label p {
            top: 50%;
            transition: all .3s .45s;
        }

        input[type="checkbox"]:not(checked) + label p {
            top: -50%;
            transition: all .3s 0s;
        }

        .last {
            -webkit-transform: translateY(-50%) rotate(0deg) scale(0);
            transform: translateY(-50%) rotate(0deg) scale(0);
        }

        i {
            position: absolute;
            font-size: 30px;
            top: 50%;
            transform: translateY(-50%) translateX(50%) rotate(0deg) scale(1);
            cursor: pointer;
            z-index: 2;
            margin: auto;
            border-radius: 4px;
            width: 56px;
            right: 50%;
            height: 54px;
            background: transparent;
            transition: right .3s .3s, transform .3s .3s, color .3s;
            line-height: 60px;
            color: #115306;

            &:hover {
                color: #337c04;
            }
        }

        p {
            position: absolute;
            margin: 0;
            right: 52px;
            color: #337c04;
            font-weight: 700;
            font-size: 30px;
            top: -50%;
            transform: translateY(-50%) rotate(0deg) scale(1);
        }

    }
}

/*
****************
SearchBox
****************
*/
input[type="checkbox"].img-checkbox {
    display: none;
    &:checked {
        + {
            label.img-checkbox-label {
                border: 3px solid #337c04;
                width: 32px;
                height: 32px;
            }
        }
    }
}
.img-checkbox-label {
    padding-left: 20px;
    display: flex;
    background-repeat: no-repeat;
    background-size: contain;
}
.img-logo {
    width: 32px;
    height: 32px;
    &:hover {
        box-shadow: 0 0 2px 1px #337c04;
    }
}



/*
****************
Pagination
****************
*/
$border-color: #0a3304;
$list-background-color: #337c04;
$active-list-background-color: #ffb400;
.custom-pagination {
    text-align: center;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 10px;
    background-color: $list-background-color;
    border-radius: 40px;
    box-shadow: 0 5px 25px 0 $border-color;
}

.custom-pagination li {
    display: inline-block;
    list-style: none;
}

.custom-pagination li a  {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #F6F792;
    text-align: center;
    text-decoration: none;
    color: #252525;
    border-radius: 4px;
    margin: 5px;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: all .3s ease;
}

.custom-pagination li a:hover,{
    color: #000;
    background-color: $active-list-background-color;
}

.custom-pagination li:first-child {
    border-radius: 40px 0 0 40px;
}
.custom-pagination li a.active{
    color: #000;
    background-color: $active-list-background-color;
}


.custom-pagination li:last-child {
    border-radius: 0 40px 40px 0;
}
//temp//
.temp-pagination {
    position: relative;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 10px;
    background-color: $list-background-color;
    border-radius: 40px;
    box-shadow: 0 5px 25px 0 $border-color;
}

.temp-pagination li {
    display: inline-block;
    list-style: none;
}

.temp-pagination li a  {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #F6F792;
    text-align: center;
    text-decoration: none;
    color: #252525;
    border-radius: 4px;
    margin: 5px;
    box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: all .3s ease;
}

.temp-pagination li a:hover,{
    color: #000;
    background-color: $active-list-background-color;
}

.temp-pagination li:first-child {
    border-radius: 40px 0 0 40px;
}
.temp-pagination li a.active{
    color: #000;
    background-color: $active-list-background-color;
}


.temp-pagination li:last-child {
    border-radius: 0 40px 40px 0;
}


/*
****************
Pagination
****************
*/

/*
****************
Result
****************
*/
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img-showcase {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-container {
    display: block;
    position: relative;
}

.link-overlay {
    color: #fff;
    text-decoration: none;
}

.link-overlay:hover {
    color: #000;
    background-color: #fff;
    transition: all 0.75s ease-in-out;
    text-decoration: none;
}

.site-filter {
    display: inline-block;
    text-decoration: none;
    transition: all .35s ease;
}

.site-filter:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: all .35s ease;
}

.site-filter-active {
    text-decoration: underline;
    transition: all .35s ease;
}

.site-filter-active::before {
    content: "X ";
    text-transform: none;
    transition: all .35s ease;
}

.item {
    display: none;
}

.show-item {
    display: block;
    transition: all .35s ease;
}

.overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    color: #fff;
    transition: all 0.5s ease-in-out;
}

.overlay:hover {
    opacity: 1;
}
/*
****************
Result
****************
*/

/*
****************
Menu#3
****************
*/

/*
****************
Menu#3
****************
*/
