@import url(https://fonts.googleapis.com/css?family=Nunito:400,700);body {
  margin: 0;
  padding: 0;
  background-color: #F3E400;
}

/*
****************
SearchBox
****************
*/

body {
  padding: 0;
  margin: 0;
}

body .search_block {
  background: #F6F792;
  height: 70vh;
  float: left;
  width: 100%;
  position: relative;
}

body .search_suggestion {
  width: 15px;
  background: transparent;
  transition: border 0.3s 0s, width 0.2s 0.3s cubic-bezier(0.225, 0.01, 0.475, 1.01), text-indent 0.2s 0.3s;
  padding: 20px;
  border-color: #337c04;
  text-indent: 30px;
  outline: none;
  font-size: 1.2em;
  color: #0a3304;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
}

body .search_bar {
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  overflow: hidden;
  width: 280px;
  position: relative;
  margin: 0 auto;
}

body .search_bar input[type=text] {
  width: 15px;
  background: transparent;
  transition: border 0.3s 0s, width 0.2s 0.3s cubic-bezier(0.225, 0.01, 0.475, 1.01), text-indent 0.2s 0.3s;
  padding: 20px;
  border-color: #337c04;
  text-indent: 30px;
  outline: none;
  border: 0px solid #337c04;
  font-size: 1.2em;
  color: #0a3304;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
}

body .search_bar ::-webkit-input-placeholder {
  /* Safari, Chrome and Opera */
  color: #337c04;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}

body .search_bar ::-moz-input-placeholder {
  /* Safari, Chrome and Opera */
  color: #337c04;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}

body .search_bar ::-o-input-placeholder {
  /* Safari, Chrome and Opera */
  color: #337c04;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}

body .search_bar input[type=checkbox] {
  display: none;
}

body .search_bar input[type=checkbox]:checked + label + input {
  width: 230px;
  border: 5px solid #337c04;
  text-indent: 0px;
}

body .search_bar input[type=checkbox]:checked + label i {
  right: 0px;
  transform: translateY(-50%) translateX(50%) rotate(360deg) scale(0);
  color: #337c04;
}

body .search_bar input[type=checkbox]:checked + label .last {
  left: 220px;
  transform: translateY(-50%) rotate(360deg) scale(1);
}

body .search_bar input[type=checkbox]:checked + label p {
  top: 50%;
  transition: all 0.3s 0.45s;
}

body .search_bar input[type=checkbox]:not(checked) + label p {
  top: -50%;
  transition: all 0.3s 0s;
}

body .search_bar .last {
  transform: translateY(-50%) rotate(0deg) scale(0);
}

body .search_bar i {
  position: absolute;
  font-size: 30px;
  top: 50%;
  transform: translateY(-50%) translateX(50%) rotate(0deg) scale(1);
  cursor: pointer;
  z-index: 2;
  margin: auto;
  border-radius: 4px;
  width: 56px;
  right: 50%;
  height: 54px;
  background: transparent;
  transition: right 0.3s 0.3s, transform 0.3s 0.3s, color 0.3s;
  line-height: 60px;
  color: #115306;
}

body .search_bar i:hover {
  color: #337c04;
}

body .search_bar p {
  position: absolute;
  margin: 0;
  right: 52px;
  color: #337c04;
  font-weight: 700;
  font-size: 30px;
  top: -50%;
  transform: translateY(-50%) rotate(0deg) scale(1);
}

/*
****************
SearchBox
****************
*/

input[type=checkbox].img-checkbox {
  display: none;
}

input[type=checkbox].img-checkbox:checked + label.img-checkbox-label {
  border: 3px solid #337c04;
  width: 32px;
  height: 32px;
}

.img-checkbox-label {
  padding-left: 20px;
  display: flex;
  background-repeat: no-repeat;
  background-size: contain;
}

.img-logo {
  width: 32px;
  height: 32px;
}

.img-logo:hover {
  box-shadow: 0 0 2px 1px #337c04;
}

/*
****************
Pagination
****************
*/

.custom-pagination {
  float: left;
  position: relative;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 10px;
  background-color: #337c04;
  border-radius: 40px;
  box-shadow: 0 5px 25px 0 #0a3304;
}

.custom-pagination li {
  display: inline-block;
  list-style: none;
}

.custom-pagination li.invisible {
  display: none;
}

.custom-pagination li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #F6F792;
  text-align: center;
  text-decoration: none;
  color: #252525;
  border-radius: 4px;
  margin: 5px;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.custom-pagination li a:hover {
  color: #000;
  background-color: #ffb400;
}

.custom-pagination li:first-child {
  border-radius: 40px 0 0 40px;
}

.custom-pagination li a.active {
  color: #000;
  background-color: #ffb400;
}

.custom-pagination li:last-child {
  border-radius: 0 40px 40px 0;
}

.temp-pagination {
  position: relative;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 10px;
  background-color: #337c04;
  border-radius: 40px;
  box-shadow: 0 5px 25px 0 #0a3304;
}

.temp-pagination li {
  display: inline-block;
  list-style: none;
}

.temp-pagination li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #F6F792;
  text-align: center;
  text-decoration: none;
  color: #252525;
  border-radius: 4px;
  margin: 5px;
  box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.1), 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease;
}

.temp-pagination li a:hover {
  color: #000;
  background-color: #ffb400;
}

.temp-pagination li:first-child {
  border-radius: 40px 0 0 40px;
}

.temp-pagination li a.active {
  color: #000;
  background-color: #ffb400;
}

.temp-pagination li:last-child {
  border-radius: 0 40px 40px 0;
}

/*
****************
Pagination
****************
*/

/*
****************
Result
****************
*/

.site-filter,
.sortBy {
  display: inline-block;
  text-decoration: none;
  transition: all 0.35s ease;
  background-color: #337c04;
  box-shadow: 0 5px 0 #0a3304;
  color: black;
  padding: 1em 1.5em;
  text-transform: uppercase;
}

.site-filter:hover,
.sortBy:hover {
  cursor: pointer;
  box-shadow: inset;
  background-color: #ffb400;
  transition: all 0.35s ease;
}

.site-filter-active,
.sortBy.asc {
  background-color: #ffb400;
  transition: all 0.35s ease;
  box-shadow: inset;
  top: 5px;
}

.site-filter-active::before,
.sortBy:hover {
  background-color: #ffb400;
  box-shadow: none;
  top: 5px;
  text-transform: none;
  transition: all 0.35s ease;
}

.item {
  display: none;
}

.show-item {
  display: block;
  transition: all 0.35s ease;
}

/*
****************
Result
****************
*/

.navbar-controller {
  width: 100%;
  display: inline;
}

.result-area {
  width: 80%;
  position: relative;
  margin: 0 auto;
}

.sortable-items {
  text-align: center;
}

.sorting-item {
  margin-top: 2%;
  border-radius: 25px;
  border: 5px solid #ffb400;
  background: #73AD21;
  width: 100%;
  height: 10%;
}

.product-img {
  display: inline-block;
  vertical-align: middle;
  padding: 3%;
  width: 33%;
  height: 90%;
  background-color: transparent;
  text-align: center;
}

.product-img img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 200px;
  height: 200px;
}

.product-name {
  display: inline-block;
  vertical-align: middle;
  width: 34%;
  height: 100%;
}

.product-shop {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: 100%;
}

/*
****************
Menu#3
****************
*/

/*
****************
Menu#3
****************
*/

